<div class="container">
  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <%= post.inspect %><br>
      <%= post.game.inspect %><br>
      <hr>

      <%= link_to post.game.title, post_path(post.id) %>
    <% end %>
  </div>
</div>


