<div class="container">
  <div style="height: 400px; background-color: rgba(255,0,0,0.1);">
    <div class="d-flex align-items-center justify-content-center h-100 flex-column">
      <h1 class="mb-5">TOPページ</h1>
      <h3>ようこそ、このサイトはゲームに関するレビューサイトです</h3>
    </div>
  </div>
</div>