<div class="container">
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-8">
      <h5>レビュー履歴一覧</h5>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <table class="table">
        <thead class="table-secondary">
          <th>投稿日時</th>
          <th>投稿者</th>

        </thead>

        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to admin_post_path(id: post.id, game_id: post.game_id) do %>
                <%= post.updated_at.strftime( "%Y/%m/%d %T" ) %>
              <% end %>
            </td>
            <td><%= post.customer.nickname %></td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
